<script id="ap-contacts" type="text/template">
    <p><a href="mailto:andrey.krutskikh18@gmail.com">andrey.krutskikh18@gmail.com</a> / <a href="https://t.me/ppxxd">t.me/ppxxd</a></p>
    <p><a href="https://github.com/ppxxd">github.com/ppxxd</a></p>
</script>

<script id="ap-technical-skills-development" type="text/template">
    Рефакторинг, Оптимизация, Командная разработка, ООП, EDA, SOA, TDD
</script>
<script id="ap-technical-skills-plang" type="text/template">
    Java/Kotlin, Python, SQL
</script>
<script id="ap-technical-skills-data-storage" type="text/template">
    PostgreSQL, MySQL/MariaDB, MongoDB, Redis
</script>
<script id="ap-technical-skills-vcs" type="text/template">
    Git
</script>
<script id="ap-technical-skills-frameworks" type="text/template">
    Spring (Boot, MVC)
</script>
<script id="ap-technical-skills-bug-tracking" type="text/template">
    Trello, GitHub, GitLab, Yandex.Tracker
</script>
<script id="ap-technical-skills-os" type="text/template">
    Mac OS, Linux, Windows
</script>
<script id="ap-technical-skills-others" type="text/template">
    Maven/Gradle, Docker
</script>

<script id="ap-demo-title" type="text/template">
    Проекты
</script>
<script id="ap-demo" type="text/template">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title"><b>Упрощенный аналог приложения САПР-BAR</b></div>
                <ul class="ap-list-item-specs-spacing list-unstyled">
                    <p>Разработал систему автоматизации прочностных расчётов стержневых систем, испытывающих растяжение-сжатие.</p>
                    <li>Технологии: Java, JavaFX.
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://github.com/ppxxd/saprapp">saprapp</a>
                </div>
            </div>
        </div>
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title"><b>Аналог социальной сети</b></div>
                <ul class="ap-list-item-specs-spacing list-unstyled">
                    <p>Вместе с командой разработал Spring Boot приложение для социальной сети, которая помогает выбирать фильмы на основе ваших просмотров и оценок.</p>
                    <p>С нуля реализовал бизнес-логику для данного приложения</p>
                    <li>Технологии: Java, Spring Boot, JUnit, H2, Postman, REST API.
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://github.com/ppxxd/java-filmorate">Filmorate</a>
                </div>
            </div>
        </div>
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title"><b>Аналог афиши мероприятий</b></div>
                <ul class="ap-list-item-specs-spacing list-unstyled">
                    <p>Spring Boot приложение афиши в котором можно предложить какое-либо событие от выставки до похода в кино и собрать компанию для участия в нём.
                    <p>Состоит из двух сервисов:</p>
                    <p>- основной сервис, содержащий всё необходимое для работы продукта;</p>
                    <p>- сервис статистики, который хранит количество просмотров и позволяет делать различные выборки для анализа работы приложения.</p>
                    <li>Технологии: Java, Spring Boot, PostgreSQL, Postman, Docker, REST API.</li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://github.com/ppxxd/java-explore-with-me">Explore With Me</a>
                </div>
            </div>
        </div>
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title"><b>Остальные проекты на GitHub</b></div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://github.com/ppxxd">GitHub</a>
                </div>
            </div>
        </div>
</script>
