<script id="ap-page-header-title" type="text/template">
    Крутских Андрей Юрьевич, Software Developer
</script>

<script id="ap-contacts-location" type="text/template">
    <p>Москва, Россия</p>
</script>

<script id="ap-intro" type="text/template">
    <ul class="list-unstyled">
        <li>Я имею 2-летний опыт в разработке pet-проектов, а также highload Minecraft серверов (коммерческих).</li>
        <p>Обладаю опытом в написании, проектировании, оптимизации, отладке и поддержке приложений/сервисов.</p>
        <p>Выбрал Java и Backend-разработку благодаря их ключевой роли в создании сложных, масштабируемых и надежных систем. Java как язык разработки привлекла меня своей универсальностью и обширной экосистемой.</p>
        <p>С уважением отношусь как к своему, так и к чужому времени, поэтому стараюсь планировать и соблюдать сроки. За пару лет опыта научился строить долгосрочные благополучные отношения с командой и клиентами.</p>
        <p>Люблю активный и силовой спорт. Занимаюсь в зале и серьезно отношусь к бегу.</p>
        <p>Также владею английским языком на уровне C1.</p>
    </ul>
</script>


<script id="ap-technical-skills-title" type="text/template">
    Технические навыки
</script>
<script id="ap-technical-skills" type="text/template">
    <ul class="ap-list-item-spacing list-unstyled">
        <li>Разработка: <span ap-technical-skills-development></span>.</li>
        <li>Языки программирования: <span ap-technical-skills-plang></span>.</li>
        <li>Хранилища данных: <span ap-technical-skills-data-storage></span>.</li>
        <li>Фреймворки: <span ap-technical-skills-frameworks></span>.</li>
        <li>Контроль версий: <span ap-technical-skills-vcs></span>.</li>
        <li>Багтрекинг: <span ap-technical-skills-bug-tracking></span>.</li>
        <li>ОС: <span ap-technical-skills-os></span>.</li>
        <li>Прочее: <span ap-technical-skills-others></span>.</li>
    </ul>
</script>

<script id="ap-experience-title" type="text/template">
    Опыт работы
</script>

<script id="ap-education-title" type="text/template">
    Образование
</script>
<script id="ap-education" type="text/template">
    <div class="row">
        <div class="col-sm-6">
            <div class="ap-block-header ap-block-header_plain">
                <div class="ap-block-header__title"><a href="https://stankin.ru">Московский Государственный Технологический Университет "СТАНКИН"</a>,
                    2021 - настоящее время
                </div>
            </div>
            <ul>
                <li>Высшая математика</li>
                <li>C++, Java, Python</li>
                <li>Дискретная математика</li>
                <li>Компьютерные сети</li>
                <li>MySQL/MariaDB/PostgreSQL</li>
                <li>Управление проектами</li>
                <li>DevOps <a href="https://habr.com/ru/news/686592/">(доп. образование)</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="ap-block-header ap-block-header_plain">
                <div class="ap-block-header__title"><a href="https://www.jetbrains.com/academy/">JetBrains Academy</a>,
                    02.2023 - 06.2024
                </div>
                <div class="ap-block-header__title"><a href="https://practicum.yandex.ru/">Яндекс.Практикум</a>,
                    10.2023 - 11.2024
                </div>
            </div>
        </div>
    </div>
</script>

<script id="ap-experience" type="text/template">
    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Java-разработчик</div>
                <div class="ap-block-header__text">Апрель 2024 - Настоящее время</div>
                    <p>С нуля занимался разработкой полноценной игры.
                        Проектировал и кодил нужные этому серверу
                        плагины-микросервисы. </p>
                        Релизнувшись, игра помогла привлечь и удержать новую аудиторию с других серверов.</p>
                    <p>Работал и управлял командой из 3-х человек.</p>
                    <p>Технологии: Java +(Concurrency), Kotlin, JUnit, MongoDB, JS.</p>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://cristalix.gg/">Cristalix</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Java-разработчик</div>
                <div class="ap-block-header__text">Октябрь 2023 - Апрель 2024</div>
                <b>CivCraft</b>
                <p></p>
                <p>Обучался разработке плагинов для Minecraft серверов. Оптимизировал, отлаживал, рефакторил и обновлял open-source версию игры. </p>
                <p>Работал в команде из 6-х человек.</p>
                <p>Технологии: Java +(Concurrency), MySQL/MariaDB, MongoDB, JS.</p>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://https://vimeworld.com/">VimeWorld.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Промпт-инженер</div>
                <div class="ap-block-header__text">Июль 2023 - Апрель 2024</div>
                <p>Занимался разметкой данных для обучения моделей и тестированием их работы.</p>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://yandex.ru/project/remote-work/">Яндекс Крауд</a>
                </div>
            </div>
        </div>
    </div>
</script>

