<script id="ap-page-header-title" type="text/template">
    Крутских Андрей Юрьевич, Software Developer
</script>

<script id="ap-contacts-location" type="text/template">
    <p>Москва, Россия</p>
</script>

<script id="ap-intro" type="text/template">
    <ul class="list-unstyled">
        <li>Я имею 4-летний опыт в написании, проектировании и поддержке своих pet-проектов.</li>
        <br>
        Умею работать и развиваться в команде. Постоянно совершенствую свои знания, открыт для изучения нового.
        <br>
        Выделяю в себе такие качества, как ответственность, пунктуальность, дисциплинированность и отзывчивость.
        <br>
        <br>
        Свободно владею английским языком на уровне C1.
    </ul>
</script>

<script id="ap-technical-skills-title" type="text/template">
    Технические навыки
</script>
<script id="ap-technical-skills" type="text/template">
    <ul class="ap-list-item-spacing list-unstyled">
        <li>Разработка: <span ap-technical-skills-development></span>.</li>
        <li>Языки программирования: <span ap-technical-skills-plang></span>.</li>
        <li>Хранилища данных: <span ap-technical-skills-data-storage></span>.</li>
        <li>Фреймворки: <span ap-technical-skills-frameworks></span>.</li>
        <li>Контроль версий: <span ap-technical-skills-vcs></span>.</li>
        <li>Багтрекинг: <span ap-technical-skills-bug-tracking></span>.</li>
        <li>ОС: <span ap-technical-skills-os></span>.</li>
        <li>Прочее: <span ap-technical-skills-others></span>.</li>
    </ul>
</script>

<script id="ap-experience-title" type="text/template">
    Опыт работы
</script>

<script id="ap-education-title" type="text/template">
    Образование
</script>
<script id="ap-education" type="text/template">
    <div class="row">
        <div class="col-sm-6">
            <div class="ap-block-header ap-block-header_plain">
                <div class="ap-block-header__title"><a href="https://stankin.ru">Московский Государственный Технологический Университет "СТАНКИН"</a>,
                    2021 - настоящее время
                </div>
            </div>
            <ul>
                <li>ООП на языке C++</li>
                <li>Дискретная математика</li>
                <li>Операционные системы</li>
                <li>Компьютерные сети</li>
                <li>Прикладное программирование (pure Python)</li>
                <li>MySQL/MariaDB</li>
                <li>DevOps <a href="https://habr.com/ru/news/686592/">(доп. образование)</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="ap-block-header ap-block-header_plain">
                <div class="ap-block-header__title"><a href="https://www.jetbrains.com/academy/">JetBrains Academy</a>,
                    02.2023 - 06.2024
                </div>
                <div class="ap-block-header__title"><a href="https://practicum.yandex.ru/">Яндекс.Практикум</a>,
                    10.2023 - Настоящее время
                </div>
            </div>
        </div>
    </div>
</script>

<script id="ap-experience" type="text/template">
    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Младший Java-разработчик</div>
                <div class="ap-block-header__text">Апрель 2024 - Настоящее время</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://cristalix.gg/">Cristalix</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Ассесор (Разметка данных)</div>
                <div class="ap-block-header__text">Июль 2023 - Май 2024</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    <a href="https://yandex.ru/project/remote-work/">Яндекс Крауд</a>
                </div>
            </div>
        </div>
    </div>
</script>

